# https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions

name: Test

on:
    pull_request:
    push:
    release:

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install nox
      run: |
        python -m pip install --upgrade pip
        pip install nox
    - name: Lint
      run: |
        nox --error-on-missing-interpreters --non-interactive --session lint

  docs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install nox
      run: |
        python -m pip install --upgrade pip
        pip install nox
    - name: Verify Docs
      run: |
        nox --error-on-missing-interpreters --non-interactive --session docs

  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.6, 3.7, 3.8]
        include:
          - os: windows-latest
            python-version: 3.8
          - os: macos-latest
            python-version: 3.8

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Upgrade pip
      run: python -m pip install --upgrade pip
    - name: Get pip cache dir
      id: pip-cache
      run: |
        echo "::set-output name=dir::$(pip cache dir)"
    - name: Persistent pip cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key: ${{ runner.os }}-pip
    # macos: Install wheel to allow wheel-building for nox and regex
    # Build regex wheel into pip cache, so future pipx installs don't compile.
    # This avoids future compile errors in nox tests because of missing
    #   header files.
    - name: Install wheel and build wheel for regex to pip cache
      if: ${{ matrix.os == 'macos-latest' }}
      run: |
        python -m pip install wheel
        python -m pip install regex
    - name: Install native-venv version of nox
      run: pip install git+https://github.com/cs01/nox.git@5ea70723e9e6#egg=nox
    - name: Execute Tests
      run: |
        nox --non-interactive --session tests-${{ matrix.python-version }}
