name: Publish docs via GitHub Pages
on:
  workflow_dispatch:
  release:
    types: [published]

env:
  default-python: "3.10"

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v3
      - name: Set up Python ${{ env.default-python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.default-python }}
      - name: Install nox
        run: |
          python -m pip install --upgrade pip
          pip install nox
      - name: Build Docs
        run: |
          nox --error-on-missing-interpreters --non-interactive --session build_docs
      - name: Deploy docs
        if: ${{ success() }}
        uses: mhausenblas/mkdocs-deploy-gh-pages@1.25
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
